<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css " />
   
    <link rel="icon" href="/media/iconmonstr-weather-8-240.png"/>
    <title>Weather</title>
</head>
<body>
   <div class="main-content">
       {{>header}}
    <p>Search for the Weather</p>

        <form>
            <input type="text" placeholder="Enter location">
            <button type="submit">Search</button>
        </form>
        <p id="m1"></p>
        <p id="m2"></p>

    </div>


    {{>footer}}
     <script src="/js/app.js"></script>
</body>
</html>